<ion-view view-title="About Hatten Group" id="abouthattengroup">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeIn':contentAnimated}">
            <div class="padding padding-xlg-top">
            <img class="logo" style="margin-bottom:30px;" src="img/aboutus-logo.png">
            <img class="together" style="margin-bottom:30px;" src="img/aboutus-together.png">
            <p>As a leading property developer, Hatten Group believes in producing top quality projects with trend setting concepts. ICON synergises the Group’s Vision and Mission while reinforcing the values of reliability, commitment and forging long-term relationships with stakeholders to establish a legacy as the trusted quality brand.</p>
            <img width="100" src="img/aboutus-innovation.png">
            <p>Fore-fronting value add through innovation, delivering quality products and services as well as escalating revenue for stakeholders and investors.</p>
            
            <img width="130" src="img/aboutus-opportunity.png">
            <p>Increasing retail and investment opportunities for locals and tourists through our ever-growing portfolio of impressive malls.</p>
            
            <img width="85" src="img/aboutus-comform.png">
            <p>We are dedicated to satisfying our customers' needs, providing quality services and exceeding expectations through our world-class hospitality ventures.</p>
            
            <img width="90" src="img/aboutus-network.png">
            <p>Corporate Social Responsibility (CSR) is an integral aspect of Hatten Group's business operations as we strive to create hope and fulfill dreams.</p>
            <hr>
            <img width="130" src="img/aboutus-ourheritage.png">
            <p>Hatten Group is a front-runner in Malaysia's property development, asset management and investment industry. The multi-award winning Group is one of the largest mega-corporations in the region to integrate core businesses in project development and construction, commercial and asset management, retail leasing and hospitality divisions.</p>
            <p>Incorporated in 2008, Hatten Group's hallmark of quality innovation has captured the attention of the world, winning numerous global award titles.</p>
            <p>From property development to retail management, hospitality and soon, medical and educational infrastructure, Hatten Group continues to push the boundaries of innovation, delivering quality, functionality, aesthetics and services - all bearing the Hatten trademark of excellence.</p>
            <hr>
            <img width="105" src="img/aboutus-ourvision.png">
            <p>Pioneering in Innovation, Quality and Service Standards</p>
            <img width="120" src="img/aboutus-ourmission.png">
            <p>Hatten Group strives to be a world-class property developer with an international presence, fore-fronting value add through innovation, delivering quality products and services as well as escalating revenue to stakeholders and investors.</p>
            <p>We endeavour to integrate our role as a corporate citizen by enriching the community whilst conserving the wildlife and environment.</p>
            <hr>
            <img width="320" src="img/aboutus-inhatten.png">
            <p>Hatten Group strongly believes and adheres to a set of core values in its day-to-day operations. All employees are encouraged to work independently with minimal supervision (initiative). The Hatten team delivers its services through teamwork (unity) with great passion (hospitality), obtaining the best results (excellence) while practicing ethical business standards and conducts at all times (integrity).
</p>
            </div>
        </div>
    </ion-content>
</ion-view>