<ion-view view-title="About Hatten Group">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeIn':contentAnimated}">
            <div class="padding">
                <p>
                    As a leading property developer, Hatten Group believes in producing top quality projects with trend setting concepts. ICON synergises the Group’s Vision and Mission while reinforcing the values of reliability, commitment and forging long-term relationships with stakeholders to establish a legacy as the trusted quality brand.
                </p>
                <p>
                    Fore-fronting value add through innovation, delivering quality products and services as well as escalating revenue for stakeholders and investors.
                </p>
                <p>
                    Increasing retail and investment opportunities for locals and tourists through our ever-growing portfolio of impressive malls.
                </p>
                <p>

                    We are dedicated to satisfying our customers' needs, providing quality services and exceeding expectations through our world-class hospitality ventures.
                </p>
                <p>
                    Corporate Social Responsibility (CSR) is an integral aspect of Hatten Group's business operations as we strive to create hope and fulfill dreams. READ MORE
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>