<ion-view view-title="{{project.displayName}}" id="constructiondetail">
    <ion-nav-title>
       {{project.displayName}}
    </ion-nav-title>
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeInUp':contentAnimated}">
            <img class="view-center-thumb padding-top" ng-src="{{project.LogoResourceKey}}">
            <div class="list card fade-animation" ng-repeat="construction in project.Contructions | orderBy:'-Seq'">
                <img class="full-img-responsive" ng-src="{{construction.ProjectContractionResourceKey || 'img/placeholder_general_sm.png'}}">
                <div class="padding">
                    <div ng-if="construction.ProjectContractionRemark1">{{construction.ProjectContractionRemark1}}</div>
                    <div ng-if="construction.ProjectContractionDate">Photo taken at {{construction.ProjectContractionDate  | date:'MMM dd, yyyy'}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>