<ion-view view-title="Constructions">
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
        <div class="tabs"> 
            <a class="tab-item" ng-class="{active:tabIndex=='COMMERCIAL'}" ng-click="tabIndex='COMMERCIAL';">
                 COMMERCIAL
            </a>
            <a class="tab-item" ng-class="{active:tabIndex=='RESIDENTIAL'}" ng-click="tabIndex='RESIDENTIAL';">
                 RESIDENTIAL
            </a>
            <a class="tab-item" ng-class="{active:tabIndex=='HOTEL'}" ng-click="tabIndex='HOTEL';">
                 HOTEL
            </a>
        </div>
    </div>
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'xxx':contentAnimated}">
            <div class="list card fade-in-animation" ng-repeat="project in projects | filter : {PropertyTypeDesc:tabIndex}">
                <a ng-href="#/app/construction/{{project.ProjectId}}" class="item item-icon-left item-thumbnail-left">
                    <img ng-src="{{project.PictureSmallResourceKey || 'img/placeholder_general_sm.png'}}">
                    <p>{{project.Name}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>