<ion-view view-title="{{project.displayName}}" id="constructiondetail">
    <ion-nav-title>
       {{project.displayName}}
    </ion-nav-title>
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeInUp':contentAnimated}">
            <img class="view-center-thumb padding-top" ng-src="{{project.logo}}">
            <div class="list card fade-animation" ng-repeat="progress in progresses | orderBy:'-photoTakenDate'">
                <img class="full-img-responsive" ng-src="{{progress.thumb}}">
                <p class="padding-left padding-right">Photo taken by {{progress.photoTakenDate | date:'MMM dd, yyyy'}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>