<ion-view view-title="Find A Consultant">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'xxx':contentAnimated}">
            <div class="list card fade-in-animation" ng-repeat="property in properties | orderBy : '-Name'">
                <a ng-href="#/app/consultants/where-project/{{property.ProjectId}}" class="item item-icon-left item-thumbnail-left">
                    <img ng-src="{{property.PictureSmallResourceKey || 'img/placeholder_general_sm.png'}}">
                    <p>
                        <b>{{property.Name}}</b>
                        <br/><small>{{property.Location}}</small>
                    </p>
<!--                    <p><small>{{project.address}}</small></p>-->
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>