<ion-view view-title="Contact Us" id="contactus">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeIn':contentAnimated}">
            <div class="padding padding-md-top" style="max-width:480px; margin:0 auto;">
                <div>
                <h4>HEADQUARTERS</h4>
                <h3>MALAYSIA</h3>
                <address>
                    <div style="display:inline-block">10-01, Hatten Square, Jalan Merdeka, </div><br/>
                    <div style="display:inline-block">Bandar Hilir, 75000 Melaka, Malaysia</div>
                </address>
                <table border=0>
                    <tr>
                        <td>Tel</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:6062821828">+606-282 1828</a> / <a href="tel:6062831828">+606-283 1828</a>
                        </td>
                    </tr>    
                    <tr>
                        <td>Fax</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:6062838828">+606-283 1827</a> / <a href="tel:6062838828">+606-283 8828</a>
                        </td>
                    </tr>   
                    <tr>
                        <td>Email</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="mailto:info@hattengrp.com">info@hattengrp.com</a>
                        </td>
                    </tr>
                </table>
                <a ng-click="u.navigateToStateWithIntent('app.location', {'Lat':2.188488, 'Lot':102.251536})"><img class="img-responsive" src="img/contactus-map1.png"></a>
                </div>

                <hr>
                
                <div>
                <h3>SINGAPORE</h3>
                <address>
                    <div style="display:inline-block">53, Mohamed Sultan Road, </div><br/>
                    <div style="display:inline-block">#04-02, Singapore 238993</div>
                </address>
                <table border=0>
                    <tr>
                        <td>Tel</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:6566903136">+65-6690 3136</a>
                        </td>
                    </tr>    
                    <tr>
                        <td>Fax</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:6566903137">+65-6690 3137</a>
                        </td>
                    </tr>   
                </table>
                <a ng-click=""><img class="img-responsive" ng-click="u.navigateToStateWithIntent('app.location', {'Lat':1.291682, 'Lot':103.8401})" src="img/contactus-map2.png"></a>
                </div>

                <hr>
                
                <div>
                <h4>SALES GALLERY</h4>
                <h3>KUALA LUMPUR</h3>
                <address>
                    <div style="display:inline-block">55-2 &amp; 55-3, The Boulevard, </div><br/>
                    <div style="display:inline-block">Mid Valley City, Lingkaran Syed Putra,</div>
                    <div style="display:inline-block">59200 Kuala Lumpur, Malaysia</div>
                </address>
                <table border=0>
                    <tr>
                        <td>Tel</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:60322871288">+603-2287 1288</a>
                        </td>
                    </tr>    
                    <tr>
                        <td>Fax</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <a href="tel:60322870288">+603-2287 0288</a>
                        </td>
                    </tr>   
                </table>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>