<ion-view view-title="Feedbacks" id="feedbacks">
    <ion-pane class="padding-top-headerbar">
        <div class="btn-container">
            <a href="#/app/properties" class="properties-background">
                <div class="text-container">
                    <h1 class="text-light">Properties</h1>
                </div>
            </a>
            <a href="#/app/events" class="events-background">
                <div class="text-container">
                    <h1 class="text-light">Events</h1>
                </div>
            </a>
            <a href="#/app/consultants" class="consultants-background">
                <div class="text-container">
                    <h1 class="text-light">Consultants</h1>
                </div>
            </a>
            <a class="more-background">
                <div class="text-container">
                    <h1 class="text-light">More</h1>
                </div>
            </a>
        </div>
    </ion-pane>
</ion-view>