<ion-view view-title="Feedbacks" id="feedbacks">
    <ion-pane>
<!--        <ion-content class="has-header">-->
<!--            <div class="content full-width full-height contentReady animated fadeIn">-->
                <div class="btn-container has-header">
                    <a href="#/app/properties" class="properties-background">
                        <div class="text-container">
                            <h1 class="text-light">Properties</h1>
                        </div>
                    </a>
                    <a href="#/app/events" class="events-background">
                        <div class="text-container">
                            <h1 class="text-light">Events</h1>
                        </div>
                    </a>
                    <a href="#/app/consultants" class="consultants-background">
                        <div class="text-container">
                            <h1 class="text-light">Consultants</h1>
                        </div>
                    </a>
                    <a class="more-background">
                        <div class="text-container">
                            <h1 class="text-light">More</h1>
                        </div>
                    </a>
                </div>
<!--            </div>-->
<!--        </ion-content>-->
    </ion-pane>
</ion-view>