<ion-view view-title="Feedbacks">
    <ion-pane class="padding-top-headerbar">
        <div class="divide-by-4">
            <div class="row bottom-border">
                <a href="#/app/properties" class="col">Properties</a>
                <a href="#/app/events" class="col left-border">Events</a>
            </div>
            <div class="row bottom-border">
                <a href="#/app/agents" class="col">Consultants</a>
                <a class="col left-border">More...</a>
            </div>
        </div>
    </ion-pane>
</ion-view>