<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Hatten Group</h1>
        </ion-header-bar>
        <ion-content class="ion-content-first-child">
            <ion-list>
                <ion-item menu-close href="#/app/whatsnew" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_home(w).png">
                    </span>
                    What's New
                </ion-item>
                <ion-item menu-close href="#/app/purchasedproperties" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_purchased(w).png">
                    </span>
                    Purchased
                </ion-item>
                <ion-item menu-close href="#/app/constructions" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_construction(w).png">
                    </span>
                    Construction
                </ion-item>
                <ion-item menu-close href="#/app/properties" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_properties(w).png">
                    </span>
                    Properties
                </ion-item>
                <ion-item menu-close href="#/app/events" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_event(w).png">
                    </span>
                    Events
                </ion-item>
                <ion-item menu-close href="#/app/tickets" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_voucher(w).png">
                    </span>
                    Tickets
                </ion-item>
                <ion-item menu-close href="#/app/calculator" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_calculator(w).png">
                    </span>
                    Calculator
                </ion-item>
                <ion-item menu-close href="#/app/feedbacks" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_feedback(w).png">
                    </span>
                    Feedbacks
                </ion-item>
                <ion-item menu-close href="#/app/consultants" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_consultant(w).png">
                    </span>
                    Consultants
                </ion-item>
                <ion-item menu-close href="#/app/privacypolicy" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_privacy(w).png">
                    </span>
                    Privacy Policy
                </ion-item>
                <ion-item menu-close href="#/app/termsandcondition" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_terms(w).png">
                    </span>
                    Terms &amp; Conditions
                </ion-item>
                <ion-item menu-close href="#/app/pdpa" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_policy(w).png">
                    </span>
                    Personal Data Policy
                </ion-item>
                <ion-item menu-close href="#/app/profile" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_account(w).png">
                    </span>
                    My Profile
                </ion-item>
                <ion-item menu-close href="#/app/aboutus" class="item-icon-left">
                    <span class="icon">
                        <img src="img/icons/Hatten_navigation_about(w).png">
                    </span>
                    About Us
                </ion-item>
                <ion-item menu-close class="item-icon-left">
                    &nbsp;
                </ion-item>
                <ion-item menu-close class="item-icon-left">
                    &nbsp;
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-content scroll="false" class="block-child-only">
            <div class="absolute-position-bottom full-width">
                <button ng-if="apiUser.getUser()" class="sidemenu-bottom-overlay-box-shadow button button-balanced button-full margin-0 " ng-click="u.doLogout();">Logout</button>
                <button ng-if="!apiUser.getUser()" class="sidemenu-bottom-overlay-box-shadow button button-balanced button-full margin-0 " ng-click="u.openLogin()">Login</button>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>