<ion-view view-title="My Profile">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeInUp':contentAnimated}">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="user.EmailAddress" disabled>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Title</span>
                    <select ng-model="user.Title">
                        <option ng-repeat="option in titleOptions" value="{{option}}">{{option}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">FullName</span>
                    <input type="text" ng-model="user.FullName">
                </label>
                <label class="item item-input">
                    <span class="input-label">IC/Passport</span>
                    <input type="text" ng-model="user.IC" disabled>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Country Code</span>
                    <select ng-options="option.CallingCode as '(+'+option.CallingCode+') '+option.Name for option in callingCodeOptions" ng-model="user.CallingCode"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact</span>
                    <input type="text" ng-model="user.ContactNumber" placeholder="01234567">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mailing Address</span>
                    <input type="textarea" ng-model="user.MailingAddress">
                </label>

                <div class="padding-horizontal">
                    <button ng-click="showChangePassword()" class="button button-block button-energized">Change Password</button>
                </div>

                <div class="padding-horizontal">
                    <button ng-click="save()" class="button button-block button-balanced">Save</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>