<ion-view view-title="{{property.displayName}}">
    <ion-content>
        <img class="view-center-thumb padding-top" ng-src="{{property.project.thumb}}">

        <div class="list card">
            <img ng-src="{{property.thumb}}" class="full-img-responsive">
        </div>
        
        <div class="list card">
            <div class="item padding-0">
                <div class="row padding-0">
                    <div class="col padding-md text-center">
                        <a>Floor Plan</a>
                    </div>
                    <div class="col padding-md left-border text-center">
                        <a>Specification</a>
                    </div>
                </div>
            </div>
            <div class="item padding-0">
                <div class="row padding-0">
                    <div class="col padding-md text-center">
                        Gallery
                    </div>
                    <div class="col padding-md left-border text-center">
                        Location
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>