<ion-view view-title="Properties">
    <ion-content>
        <div class="padding-top padding-left padding-right">
            <div class="button-bar">
              <a class="button">Commerical</a>
              <a class="button">Residential</a>
              <a class="button">Hospitality</a>
            </div>
        </div>
        
        <div class="list card" ng-repeat="property in properties">
            <div class="item padding-0 line-card-image">
                <a ng-href="#/app/property/1"><img class="full-img-responsive" ng-src="{{property.thumb}}"></a>
            </div>
            <div class="item item-icon-right">
                <p>{{property.displayName}}</p>
                <a ng-click="u.share(property)"><i class="icon ion-android-share-alt icon-left-border"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>