<ion-view view-title="Location">
    <ion-pane>
        <ion-content class="has-header" scroll="false">
        <div class="content full-width full-height" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeIn':contentAnimated}">
            <div class="iframe-container">
<!--                <iframe width=100% height=100% ng-src="{{url}}" ng-if="url">-->
                <iframe id='map' width="100%" height="100%" frameborder="0" style="border:0" ng-src="{{url}}" ng-if="url">
                </iframe>
                <p class="padding" ng-if="!url">Location is not available</p>
            </div>
        </div>
        </ion-content>
    </ion-pane>
</ion-view>