<ion-view view-title="Purchased" id="purchasedproperties">
    <ion-content>
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'xxx':contentAnimated}">
            <div class="list card fade-in-animation" ng-repeat="unit in units">
                <a href="#/app/purchasedproperty/{{unit.UnitId}}" class="item item-icon-left item-thumbnail-left">
                    <img ng-src="{{unit.project.PictureSmallResourceKey || 'img/placeholder_general_sm.png'}}">
                    <p>
                        <b>{{unit.project.Name}}</b>
                        <br/><b>{{unit.UnitNo}}</b>
                        <br/><small>{{unit.project.Location}}</small>
                    </p>
<!--                    <p><small>Purchased at {{purchasedProperty.purchasedDate | date : 'MMM dd, yyyy'}}</small></p>-->
                </a>
            </div>
            <ion-item class="text-positive" ng-if="units.length == 0" ng-click="u.disableBack()" href="#/app/properties">You have not purchase any unit before, please browse our Properties section</ion-item>
        </div>
    </ion-content>
</ion-view>