<link href="../css/ionic.app.css" rel="stylesheet">

<div class="rate-container">
    <div class="rate-text-section">
        <div class="average-rate-number">{{review.averateRate}}</div>
        <div class="average-rate-number-star">
            <li><i class="icon ion-star"></i></li>
            <li><i class="icon ion-star"></i></li>
            <li><i class="icon ion-star"></i></li>
            <li><i class="icon ion-star"></i></li>
            <li><i class="icon ion-star"></i></li>
        </div>
        <div class="average-rate-number-people">
            <i class="icon ion-star"></i><span>{{review.totalRatePeople}} total</span>
        </div>
        <div style="clear:both; float:none;"></div>
    </div>
    <div class="rate-chart-section">
        <li>
            <div class="rate-chart-label">
                <i class="icon ion-star"></i><span class="number-star-label">5</span>
            </div><div class="rate-chart-value" ng-style="{'width':(review.totalRateForStar[4] * 10)+'px'}">
                <span class="number-rate-star">{{review.totalRateForStar[4]}}</span>
            </div>
        </li>
        <li>
            <div class="rate-chart-label">
                <i class="icon ion-star"></i><span class="number-star-label">4</span>
            </div><div class="rate-chart-value" ng-style="{'width':(review.totalRateForStar[3] * 10)+'px'}">
                <span class="number-rate-star">{{review.totalRateForStar[3]}}</span>
            </div>
        </li>
        <li>
            <div class="rate-chart-label">
                <i class="icon ion-star"></i><span class="number-star-label">3</span>
            </div><div class="rate-chart-value" ng-style="{'width':(review.totalRateForStar[2] * 10)+'px'}">
                <span class="number-rate-star">{{review.totalRateForStar[2]}}</span>
            </div>
        </li>
        <li>
            <div class="rate-chart-label">
                <i class="icon ion-star"></i><span class="number-star-label">2</span>
            </div><div class="rate-chart-value" ng-style="{'width':(review.totalRateForStar[1] * 10)+'px'}">
                <span class="number-rate-star">{{review.totalRateForStar[1]}}</span>
            </div>
        </li>
        <li>
            <div class="rate-chart-label">
                <i class="icon ion-star"></i><span class="number-star-label">1</span>
            </div><div class="rate-chart-value" ng-style="{'width':(review.totalRateForStar[0] * 10)+'px'}">
                <span class="number-rate-star">{{review.totalRateForStar[0]}}</span>
            </div>
        </li>
        <div style="clear:both; float:none;"></div>
    </div>
</div>