<ion-view view-title="Terms &amp; Condition">
    <ion-pane>
        <ion-content class="has-header" scroll="false">
        <div class="content full-width full-height" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeIn':contentAnimated}">
            <div class="iframe-container">
            <iframe width='100%' height='100%' src="http://hattengrp.com/personal-data-policy.php">
            
            </iframe>
            </div>
        </div>
        </ion-content>
    </ion-pane>
</ion-view>