<ion-modal-view id="modal-login">
    <ion-header-bar>
        <h1 class="title">{{loginModal.tab == 0 ? 'Sign Up': (loginModal.tab == 1 ? 'Login' : 'Forget Password')}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="u.closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" id="content-login" ng-class="{'show':loginModal.tab == 0}">
        <form ng-submit="u.doLogin()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="loginModal.loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginModal.loginData.password">
                </label>
                <div ng-if="loginModal.loginAlert" class="item text-assertive">{{loginModal.loginAlert.message}}</div>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
                <p style="margin-bottom:-8px;" class="text-center padding-md-top padding-md-horizontal text-positive" style="margin-bottom:0;"><small>Don't have a account?</small></p>
                <a ng-click="loginModal.tab = 1;" class="button button-clear button-positive button-full" style="margin-top:0;">Sign Up</a>
                <p style="margin-bottom:-8px;" class="text-center padding-md-horizontal text-positive" style="margin-bottom:0;"><small>Forget password?</small></p>
                <a ng-click="loginModal.tab = 2" class="button button-clear button-positive button-full" style="margin-top:0;">Retrive your password</a>
            </div>
        </form>
    </ion-content>
    <ion-content scroll="false" id="content-signup" ng-class="{'show':loginModal.tab == 1}">
        <form ng-submit="console.log('ng-submit'); u.doSignUp()" novalidate >
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="loginModal.signUpData.EmailAddress">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginModal.signUpData.Password">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Title</span>
                    <select ng-model="loginModal.signUpData.Title">
                        <option ng-repeat="option in loginModal.titleOptions" value="{{option}}">{{option}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">FullName</span>
                    <input type="text" ng-model="loginModal.signUpData.FullName">
                </label>
                <label class="item item-input">
                    <span class="input-label">IC/Passport</span>
                    <input type="text" ng-model="loginModal.signUpData.IC">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Contact (Calling Code)</span>
                    <select ng-options="option.CallingCode as '(+'+option.CallingCode+') '+option.Name for option in loginModal.callingCodeOptions" ng-model="loginModal.signUpData.CallingCode"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact (Number)</span>
                    <input type="text" ng-model="loginModal.signUpData.ContactNumber">
                </label>
                <div ng-if="loginModal.signUpAlert" class="item text-assertive">{{loginModal.signUpAlert.message}}</div>
                <label class="item">
                    <a class="button button-block button-positive" type="submit">Sign Up</a>
                </label>
                <a ng-click="loginModal.tab = 0;" class="button button-clear button-positive button-full" style="margin-top:0;">Back to Login</a>
            </div>
        </form>
    </ion-content>
    <ion-content scroll="false" id="content-forgetpassword" ng-class="{'show':loginModal.tab == 2}">
        <form ng-submit="console.log('ng-submit'); u.doSignUp()" novalidate >
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="loginModal.forgetPasswordData.EmailAddress">
                </label>
                <div ng-if="loginModal.forgetPasswordAlert" class="item text-assertive">{{loginModal.forgetPasswordAlert.message}}</div>
                <label class="item">
                    <a ng-click="loginModal.changePassword()"  class="button button-block button-positive" type="submit">Submit</a>
                </label>
                <a ng-click="loginModal.tab = 0;" class="button button-clear button-positive button-full" style="margin-top:0;">Back to Login</a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>

